# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

!/android/app/src/main/AndroidManifest.xml
!/android/app/src/main/res/values/strings.xml
!/android/app/src/main/res/values/styles.xml
!/android/app/src/main/assets/capacitor.config.json
!/android/app/build.gradle

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/android
/electron
/export
*.psd
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
.firebaserc
/.firebase

npm-debug.log*
yarn-debug.log*
yarn-error.log*
