
/* Ionic Variables and Theming. For more information, please see
// https://beta.ionicframework.com/docs/theming/
// The app direction is used to include
// rtl styles in your app. For more information, please see
// https://beta.ionicframework.com/docs/layout/rtl
// $app-direction: ltr;
// Ionic Colors
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic provides eight layered colors
// that can be changed to theme an app. Additional colors can be
// added as well (see below). For more information, please see
// https://beta.ionicframework.com/docs/theming/advanced
// To easily create custom color palettes for your app’s UI,
// check out our color generator:
// https://beta.ionicframework.com/docs/theming/color-generator
*/


input {
  padding: 5px;
  font-size: 16px;
  border-radius: 0px;
  border: 0px;
  flex-grow: 1;
}

Messageslist {
  padding: 20px 0;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.Messages-message.currentMember {
  /* justify-content: flex-end; */
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}

.Message-content > .username {
  display: block;
  color: gray;
  font-size: 14px;
  padding-bottom: 4px;
}

.Message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: cornflowerblue;
  color: white;
  display: inline-block;
}

.currentMember > .Message-content .text {
  background-color: orangered;
}


footer {

  background-color: transparent;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  /* margin: 0 auto 40px; */
}

:root {
  --ion-color-angular: #ac282b;
  --ion-color-communication: #8e8d93;
  --ion-color-tooling: #fe4c52;
  --ion-color-services: #fd8b2d;
  --ion-color-design: #fed035;
  --ion-color-workshop: #69bb7b;
  --ion-color-food: #3bc7c4;
  --ion-color-documentation: #b16be3;
  --ion-color-navigation: #6600cc;

  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

/* Additional Ionic Colors
// --------------------------------------------------
// In order to add colors to be used with Ionic components,
// the color should be added as a class with the convention `.ion-color-{COLOR}`
// where `{COLOR}` is the color to be used on the Ionic component
// and each variant is defined for the color. For more information, please see
// https://beta.ionicframework.com/docs/theming/advanced
*/

/* .ion-color-favorite {
  --ion-color-base: #69bb7b;
  --ion-color-base-rgb: 105, 187, 123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #5ca56c;
  --ion-color-tint: #78c288;
}

.ion-color-twitter {
  --ion-color-base: #1da1f4;
  --ion-color-base-rgb: 29, 161, 244;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #1a8ed7;
  --ion-color-tint: #34aaf5;
}

.ion-color-google {
  --ion-color-base: #dc4a38;
  --ion-color-base-rgb: 220, 74, 56;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #c24131;
  --ion-color-tint: #e05c4c;
}

.ion-color-vimeo {
  --ion-color-base: #23b6ea;
  --ion-color-base-rgb: 35, 182, 234;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #1fa0ce;
  --ion-color-tint: #39bdec;
}

.ion-color-facebook {
  --ion-color-base: #3b5998;
  --ion-color-base-rgb: 59, 89, 152;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #344e86;
  --ion-color-tint: #4f6aa2;
} */

/* Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the CSS variables found in Ionic's source files.
// To view all the possible Ionic variables, see:
// https://beta.ionicframework.com/docs/theming/css-variables#ionic-variables
*/

:root {
  --ion-headings-font-weight: 300;

  --ion-color-angular: #ac282b;
  --ion-color-communication: #8e8d93;
  --ion-color-tooling: #fe4c52;
  --ion-color-services: #fd8b2d;
  --ion-color-design: #fed035;
  --ion-color-workshop: #69bb7b;
  --ion-color-food: #3bc7c4;
  --ion-color-documentation: #b16be3;
  --ion-color-navigation: #6600cc;
}










.list-time {
  width: 70px;
  min-height: 2.3em;
}
.list-time.purple-border {
  border-right: 2px solid purple;
}
.list-time.orange-border {
  border-right: 2px solid orange;
}
.list-time .bold {
  color: black;
}

.ion-toggle.info_event_toggle {
  /* background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…IgZGF0YS1vbGRfY29sb3I9IiMwMDg5RkYiPjwvcGF0aD4KCTwvZz4KPC9nPjwvZz4gPC9zdmc+); */
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: rgb(184, 34, 34);
  background-position: center;
}

.toggle-icon {
  background-color: rgb(94, 255, 0);
}


/* Action suggestions */
.my-textarea {
  font-size: 20px;
  padding: 5px;
  border: 0px solid black;
  background-color: transparent;
  margin: 0;
}

.best_suggestion {
  margin: 0;
  padding: 0;
  border: 0px solid black;
  background-color: transparent;

}

.rta {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 15px;
  width: 100%;
  height: 100%;
}
.rta__loader.rta__loader--empty-suggestion-data {
  margin: 0;
  padding: 0;
  border-radius: 0px;
  box-shadow: 0 0 0px rgba(27, 31, 35, 0.1);
  padding: 0px;
}
.rta--loading .rta__loader.rta__loader--suggestion-data {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}
.rta--loading .rta__loader.rta__loader--suggestion-data > * {
  margin: 0;
  padding: 0;
  position: relative;
  top: 50%;
}
.rta__textarea {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 1em;
}
.rta__autocomplete {
  margin: 0;
  padding: 0;
  position: absolute;
  display: block;
  margin-top: 1em;
}
.rta__autocomplete--top {
  margin: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 1em;
}
.rta__list {
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0px solid #dfe2e5;
  border-radius: 0px;
  box-shadow: 0 0 0px rgba(27, 31, 35, 0.1);
  list-style: none;
}
.rta__entity {
  margin: 0;
  padding: 0;
  background: grey;
  width: 100%;
  text-align: left;
  outline: none;
}
.rta__entity:hover {
  cursor: pointer;
}
.rta__item:not(:last-child) {
  border-bottom: 0px solid #dfe2e5;
}
.rta__entity > * {
  padding-left: 4px;
  padding-right: 4px;
}
.rta__entity--selected {
  /* color: #fff; */
  text-decoration: none;
  background: #0366d6;
}







/* CogoToast stylesheet*/

#ct-container {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0px;
	left: 0px;
	z-index: 2000;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	pointer-events: none;
}

.ct-row {
	display: flex;
	justify-content: space-between;
}

.ct-group {
	flex: 1;
	margin: 10px 20px;
	/* margin: 0px 0px; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ct-group:first-child {
	align-items: flex-start;
}

.ct-group:last-child {
	align-items: flex-end;
}

.ct-flex-bottom {
	justify-content: flex-end;
}

.ct-toast {
	display: flex;
	justify-content: center;
  align-items: center;
	padding: 12px 20px;
	/* padding: 0px 0px; */
	background-color: rgb(51, 51, 51);
	box-shadow: 0 4px 12px rgba(97, 97, 97, 0.15);
	color: rgb(233, 233, 233);
	border-radius: 0px;
	margin: 0px;
	opacity: 1;
	transition: 0.3s all ease-in-out;
  min-height: 45px;
  min-width: 80%;
  max-width: 100%;
	pointer-events: all;
}

.ct-toast:focus {
	outline: none;
}

.ct-cursor-pointer {
	cursor: pointer;
}

.ct-icon-loading {
	display: inline-block;
	width: 20px;
	height: 20px;
}

.ct-icon-loading:after {
	content: ' ';
	display: block;
	width: 14px;
	height: 14px;
	margin: 1px;
	border-radius: 50%;
	border: 2px solid #0088ff;
	border-color: #0088ff transparent #0088ff transparent;
	animation: ct-icon-loading 1.2s linear infinite;
}

@keyframes ct-icon-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.ct-text-group {
	margin-left: 15px;
}

.ct-text-group-heading {
	margin-left: 25px;
}

.ct-heading {
	font-size: 18px;
	margin: 0px;
	/* margin-bottom: 5px; */
	margin-bottom: 0px;
}

.ct-text {
	font-size: 14px;
}

@media (max-width: 768px) {
	.ct-row {
		justify-content: flex-start;
		flex-direction: column;
		margin: 7px 0px;
	}

	.ct-group {
		flex: none;
		margin: 0px;
	}

	.ct-toast {
		/* margin: 8px 15px; */
		margin: 0px 0px;
		width: initial;
	}
}

ion-popover {
	--width: 80vw;
  --max-width:100vw;
  width:80vw;
  max-width:100vw;
}

.ion-popover{
  width:80vw;
  max-width:100vw;
  
  }

.popover-wrapper{
  width:80vw;
  max-width:100vw;
  }

.popover-content{
  width:80vw;
  max-width:100vw;
  }

ion-fab-button[data-desc] {
  position: relative;
}

ion-fab-button[data-desc]::after {
  position: absolute;
  content: attr(data-desc);
  z-index: 1;
  /* right: 55px; */
  right: -5px;
  /* bottom: 4px; */
  bottom: 0px;
  background-color: var(--ion-color-dark);
  padding: 12px;
  border-radius: 15px;
  color: white;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
}